 // Embedded element like videos or iframes


  .video-container {
    margin-block-start: 1rem;

    padding-block-start: 30px;
    padding-block-end: 56.25%;
    position      : relative;
    height        : 0;
    overflow      : hidden;
    object-fit: cover;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }
