// Gallery Element

.gallery-wrapper {
  
  padding-block: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  .gallery-img{
    margin-block-start: 0;
    img {

      border-radius: var(--br);
      box-shadow   : var(--bs);
      height       : 250px;
      object-fit   : cover;
    }
  }
}