// Hero style
.hero {
  --hero-height: 65vh;
  height       : min(var(--hero-height), 1080px);
  position     : relative;
  z-index      : 100;

  &__overlay {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    z-index : 101;
  }
  &__content {
    text-align: center;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    color     : var(--clr-white);
    
    padding-block: 1rem;
    padding-inline: 2rem;
    border-radius: var(--br);
    width     : 60ch;
    max-width : 50%;
    z-index   : 102;
    &-title {
      color: var(--clr-white);
    }
  }

  &__image {
    width : 100vw;
    height: min(var(--hero-height), 1080px);

    img {
      width : 100vw;
      height : min(var(--hero-height), 1080px);
      object-fit: cover;
      z-index : 100;
    }
  }

}