 // Image Element
 .imageElement {
   &__image {
     max-height: 450px;

     img {
       border-radius: var(--br);
       box-shadow   : var(--bs-1);
       max-height   : 450px;
       object-fit   : cover;
     }
   }
   &__content {
     margin-block-start: 1rem;
   }

 }
 .pageMedia{
   margin-block-start: 1rem;
   img{
    border-radius: var(--br);
    box-shadow   : var(--bs-1);
     max-height: 450px;
     object-fit: cover;
   }
 }
 .imageElement__image+.imageElement__content{
   
   margin-block-start: 2rem;
 }