// Buttons
.btn {
  font-size: inherit;
  display   : inline-block;
  background: var(--clr-primary);
  
  padding-block: .5em;
  padding-inline: 1em;
  border       : solid 10px rgba(var(--clr-black), 50);
  border-radius: var(--br);
  color        : var(--clr-white);
  z-index      : 999;
  box-shadow   : none;
  transition   : all ease-in-out 125ms;
  text-decoration: none;

  &:hover {
    color     : var(--clr-accent);
    background: var(--clr-primary-dark);
    cursor    : pointer;
    box-shadow: var(--bsh);
  }
}
.btn-cta {
  font-size      : 1.25rem;
  color          : var(--clr-black);
  font-weight    : 500;
  text-decoration: none;
  display        : inline-flex;
  align-items : center;
  color          : #fff;
  border-radius  : 8px;
  box-shadow     : 1px 3px 5px rgba(0, 0, 0, 0.3);
  padding        : 0.25em 0.75em;
 
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  min-width      : 10ch;
  min-height     : 2.5rem;
  text-align     : center;
  line-height    : 1.1;
  transition     : 220ms all ease-in-out;

  &:hover,
  &:active {
    background-color: scale-color($clr-primary, $lightness: 20%);
  }

  &:focus {
    outline-style: dashed;
    outline-color: transparent;
    box-shadow   : 0 0 0 4px scale-color($clr-primary, $lightness: 50%);
  }
}

// Button for Collection Summary Element
 .btn-link {
   color: var(--clr-grey-dark);
   text-align: right;
   font-size: .9rem;
   font-weight: 300;
   text-decoration: none;
  
     font-style: italic;
   
 }
