/* Default Styles - Global */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width     : 100vw;
  height    : 100vh;
  min-height: 100vh;
}

body {
  background-color: $bg;
  font-family     : var(--ff-sans);
  color           : contrast-switch($bg);
  font-weight     : 400;
  line-height     : 1.6;

  display  : flex;
  flex-flow: column nowrap;

  overflow-x: hidden;
}

img {
  width  : 100%;
  display: block;
  height : auto;
}

figure {
  border-radius: var(--br);

  padding-block-start: 2rem;
  padding-block-end: 1rem;

  img {
    max-height   : 450px;
    border-radius: var(--br);
    box-shadow   : var(--bs);
    object-fit   : cover;
  }

  figcaption {
    color      : var(--clr-dark);
    font-size  : .8rem;
    font-style : italic;
    font-weight: 300;
    margin-top : .25rem !important;
    text-align : center;
  }
}

p {
  margin-block-start: 1rem;
}

.element__title+p {
  margin-block-start: 1rem;
}

a {
  color          : contrast-switch($bg);
  text-decoration: none;

  transition: all 125ms ease;

  &:hover {
    color: var(--clr-accent);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family   : var(--ff-serif);
  line-height   : 1.1;
  color         : $clr-accent;
  text-transform: capitalize;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

main {

  padding: calc(#{$nav-height} * 1.5) 0;
}

.container {
  margin: auto;
  width: 100%;

  display              : grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, $max-container-width) minmax(2rem, 1fr);

  >* {
    grid-column: 2 / 3;
  }
}

.hero+.container main {
  margin: 0;
  padding: 0;
}

.element {
  margin-block: 1rem;

  &-title {
    margin-block-start: 1rem;
  }
}

.text-danger {
  color: var(--clr-accent);
}

.span {
  grid-column: 1 / -1 !important;
}