# Files to ignore
config.local.php
.env
composer.local.json
composer.local.lock
docker-compose.override.yml
sitemap.xml
*.map
*.code-workspace
piton-installed.lock

# Directories to ignore
logs/
cache/
.sass-cache/
public/media/
vendor/
