  /* Navigation Styles w/sub navigation dropdown and responsive toggles */  

  .navbar {
    padding-inline: 1em;
    background : darken($clr-primary, 10%);
    color      : contrast-switch($clr-primary);
    height     : $nav-height;
    line-height: $nav-height;
 
    display        : flex;
    justify-content: space-between;
    align-items    : center;
 
    position: fixed;
    width   : 100%;
    top     : 0;
    z-index: 1000;
 
    .logo {
      flex       : 1;
      white-space: nowrap;
 
      a {
        text-decoration: none;
        color    : contrast-switch($clr-primary);
        font-size: 2rem;
        padding: 0;
        margin: 0;
        height     : $nav-height;
        line-height: $nav-height;
      }
    }
 
    .nav {
      background : lighten($clr-primary, 10%);
      color      : contrast-switch($clr-primary);
      white-space: nowrap;
      text-align : center;
 
      position: absolute;
      top     : 100%;
      left    : 0;
      right   : 0;
 
      transform       : scaleY($scale); //Set to zero for animation
      opacity         : $scale; //Set to zero for animation
      transition      : transform .2s ease, opacity 250ms ease-out;
      transform-origin: top;
 
      @media screen and (min-width: $breakpoint) {
        background: unset;
        display   : flex;
        flex-flow : row nowrap; 
 
        transform: scaleY(1); //Scale set to 1 for desktop navigation
        opacity  : 1; //Opacity set to 1 for desktop navigation
        position : static; //Position static for desktop navigation
        width    : auto; //Width Auto to break subnav outside of parent
      }
 
      &-link {
        list-style: none;
        position: relative;
        font-size: 1.5rem;
        font-weight: $fw-l;
        letter-spacing: 1px;
 
 
 
        @media screen and (min-width: $breakpoint) {
          
          padding-inline: .5rem;
          height     : $nav-height;
          line-height: $nav-height;
          font-size: 1rem;
        }
 
        &:hover {
          background: darken($clr-primary, 15%);
        }
      }
 
      a {
        text-decoration: none;
        color: contrast-switch($clr-primary);
        display: block;
      }
    }
 
    // Static placeholder for navigation with sub menu. Uses the checkbox/label trick to toggle
    .toggle-label {
      color : contrast-switch($clr-primary);
      cursor: pointer;
      font-size: inherit;
    
      display: block;
 
 
      &::after {
        content  : '\25bc';
        font-size: .7em;
      }
    }
 
    .subnav {
      width     : 100%;
      background: lighten($clr-primary, 15%);
      transform : scaleY($scale);
      height    : 0; // Set height to 0 for mobile dropdown animation
 
      @media screen and (min-width: $breakpoint) {
        white-space: nowrap;
        width      : auto;
 
        display: block;
 
        position: absolute;
        top     : 100%;
        right    : 0;
 
        transform       : scaleY($scale);
        opacity         : $scale;
        transition      : transform .2s ease, opacity .4s ease-out;
        transform-origin: top;
 
      }
 
      &-link {
        list-style: none;
        text-align: center;
        display   : flex;
 
        @media screen and (min-width: $breakpoint) {
          text-align: left;
        }
 
        &:hover {
          background: darken($clr-primary, 10%);
          color     : constrast-switch($clr-primary);
        }
 
        a {
          text-decoration: none;
          width: 100%;
   
          padding-inline: 1rem;
        }
      }
    }
  }
 
  // Hide Checkbox associated with toggle menus
  .toggle {
    position: absolute;
    left    : -9999px;
    top     : -9999px;
  }
 
  // Toggle Hamburger Hidden on Desktop
  .toggle-label-hamburger {
    margin: 0;
    cursor: pointer;
    height: $nav-height;
 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    width: $nav-height; 
 
  @media screen and (min-width: $breakpoint) { 
      display: none;
    }
    span,
    span::before,
    span::after {
      width        : calc(#{$nav-height} / 2);
      height       : 4px;
      border-radius: 7px;
      background   : white;
      position     : relative;
    }
 
    span::before,
    span::after {
      content   : '';
      position  : absolute;
      transform : rotate(0deg);
      transition: transform 125ms ease;
    }
 
    span::before {
      top: 10px;
    }
 
    span::after {
      top: -10px;
    }
 
  }
 
  /* Toggle States */
  .toggle:checked~.subnav {
    transform: scaleY(1);
    opacity  : 1;
    height   : auto;
  }
 
  .toggle:checked~.nav {
    transform: scaleY(1);
    opacity  : 1;
    min-height: calc(100vh - 60px);
  }
 
  // Nav Toggle Animation
 
  .toggle:checked~.toggle-label-hamburger span {
    background: transparent;
  }
 
  // .nav.scroll * .toggle:checked~.toggle-label-hamburger span {
  //   background: transparent !important;
  // }
 
  .toggle:checked~.toggle-label-hamburger span::before {
    transform: rotate(135deg);
    top      : -0px;
  }
 
  .toggle:checked~.toggle-label-hamburger span::after {
    transform: rotate(-135deg);
    top      : 0px;
  }