.pagination {
  margin-block-start: 2rem;
  margin-block-end  : 1rem;
  line-height       : 1;
  display           : flex;
  align-items       : center;
  justify-content   : center;

  *+* {
    margin : 0;
    padding: 0;
  }

  .page-link {
    border-top: solid 1px rgba(var(--clr-primary-rgb), 50%);
    ;
    border-bottom: solid 1px rgba(var(--clr-primary-rgb), 50%);
    ;
    border-right: solid 1px rgba(var(--clr-primary-rgb), 50%);
    background  : white;

    &:first-child {
      border-left: solid 1px rgba(var(--clr-primary-rgb), 50%);
      ;
      border-bottom-left-radius: 3px;
      border-top-left-radius   : 3px;
      font-family              : Arial, Helvetica, sans-serif;
      font-weight              : 300;
    }

    &:last-child {
      border-right: solid 1px rgba(var(--clr-primary-rgb), 50%);
      ;
      border-bottom-right-radius: 3px;
      border-top-right-radius   : 3px;
      font-family               : Arial, Helvetica, sans-serif;
      font-weight               : 300;
    }

    a {

      padding        : .5rem;
      text-decoration: none;
      color          : var(--clr-primary);

      display: block;

      transition: all 250ms ease;

      &:hover {
        background: rgba(var(--clr-primary-rgb), 50%);
        color     : var(--clr-white);

        a {
          color: var(--clr-white);
        }
      }
    }

    &.disabled a {
      color         : hsl(0, 0%, 80%);
      cursor        : default;
      pointer-events: none;
    }

    &.disabled:hover {
      background: white;

      a {
        color: hsl(0, 0%, 80%);
      }
    }

    &.active {
      background    : var(--clr-primary);
      color         : var(--clr-white);
      pointer-events: none;

      a {
        color: var(--clr-white);
      }
    }


  }
}