// Extract RGB values from variables in scss to be used in css variables
// https://www.techhive.io/our-insights/how-to-use-css-variables-with-sass-mixins

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

// How to use in CSS Variables

// :root {  
//  --color: #{$color};
// }