{#
    Twig HTML Component Macros

    Miscellaneous reusable HTML snippets that are more than an include.
#}

{#
    Contact Form Honeypot

    Limits spam messages with a hidden email contact input field.
    If a value is set, the message is ignored.
#}
{% macro contactHoneypot() %}
{# Keep the inline style to hide the honeypot #}
<div style="display:none;">
    <label>Alternate Email Address</label>
    <input type="email" class="alt-email" name="alt-email" placeholder="Email" autocomplete="off">
</div>
{% endmacro contactHoneypot %}
