# Override from parent directory, everything in this directory and below is web accessible
Allow from all

# However, prevent direct directory access
Options -Indexes

<Files sitemap.xml>
  Header set X-Robots-Tag "noindex"
</Files>

RewriteEngine On

# Check to see if the user is attempting to access a valid file, such as an image
# or css document, if this isn't true this sends the request to index.php.
# RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.(jpe?g|png|gif|css|js|map|ico|txt|svg|woff)$ [NC]
RewriteRule ^ index.php [QSA,L]

# Caching
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 seconds"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType text/css "access plus 60 minutes"
    ExpiresByType text/javascript "access plus 60 minutes"
    ExpiresByType application/x-javascript "access plus 60 minutes"
    ExpiresByType text/html "access plus 60 seconds"
</IfModule>

<ifModule mod_headers.c>
  <filesMatch "\.(ico|jpe?g|png|gif|css|woff|txt)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "private"
  </filesMatch>
</ifModule>