# Override from parent directory, everything in this directory and below is web accessible
Allow from all

# However, prevent direct directory access
Options -Indexes

<Files sitemap.xml>
  Header set X-Robots-Tag "noindex"
</Files>

RewriteEngine On

# Redirect from www subdomain to preferred domain (no-www), or otherway around as preferred
#RewriteCond %{HTTP_HOST} !^localhost$ [NC]
#RewriteCond %{HTTP_HOST} ^www [NC]
#ewriteRule ^(.*)$ https://<domain.topLevelDomain>/$1 [L,R=301]

# If the request is for an asset file, then stop
RewriteCond %{REQUEST_URI} !\.(jpe?g|png|gif|css|js|map|ico|txt|svg|woff)$ [NC]
RewriteRule ^ - [L]

# TEMPORARY
# 1) moritzmedia.com -> redirect to /moritzmedia if no path or query
RewriteCond %{HTTP_HOST} ^(www\.)?moritzmedia\.com$ [NC]
RewriteCond %{REQUEST_URI} ^/?$         # only bare /
RewriteCond %{QUERY_STRING} ^$          # no query string
RewriteCond %{REQUEST_URI} !^/moritzmedia$  # avoid redirect loop
RewriteRule ^$ /moritzmedia [R=302,L]

# 2) pitoncms.com -> redirect to /pitoncms if no path or query
RewriteCond %{HTTP_HOST} ^(www\.)?pitoncms\.com$ [NC]
RewriteCond %{REQUEST_URI} ^/?$         # only bare /
RewriteCond %{QUERY_STRING} ^$          # no query string
RewriteCond %{REQUEST_URI} !^/pitoncms$  # avoid redirect loop
RewriteRule ^$ /pitoncms [R=302,L]

# Pass everything to the app engine
RewriteRule ^ index.php [QSA,L]

# Caching
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 seconds"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType text/css "access plus 60 minutes"
    ExpiresByType text/javascript "access plus 60 minutes"
    ExpiresByType application/x-javascript "access plus 60 minutes"
    ExpiresByType text/html "access plus 60 seconds"
</IfModule>

<ifModule mod_headers.c>
  <filesMatch "\.(ico|jpe?g|png|gif|css|woff|txt)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "private"
  </filesMatch>
</ifModule>