// Extract RGB values from variables in scss to be used in css variables
// https://www.techhive.io/our-insights/how-to-use-css-variables-with-sass-mixins

@function hexToRGB($hex) {
  @return red($hex),
  green($hex),
  blue($hex);
}

// Contrast Color
@function contrast-switch($color) {
  @if (lightness($color) > 50%) {
    @return $clr-black;
  } @else {
    @return $clr-white;
  }
}