  // Fonts
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=PT+Serif:wght@700&display=swap');

    // typography
 
   // Precision responsive typography A PEN BY Mike
 
   // These values are the minimum and maximum viewport sizes to apply the font scaling
   $min_width: 768;
   $max_width: 991;
   // These values represent the range of fon-tsize to apply
   // These values effect the base font-size, headings and other elements will scale proportionally
   $min_font: 14;
   $max_font: 16;
 
   :root {
     font-size: #{$min_font}px;
   }
 
   @media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
     :root {
       font-size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width})));
     }
   }
 
   @media (min-width: #{$max_width}px) {
     :root {
       font-size: #{$max_font}px;
     }
   }