
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PitonCMS</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/default/css/moritzMedia.css">
</head>

<body>
    <header>
        <div class="logo-left">
            <div class="logo-wrap">
               <h1><span class="blue-font">PitonCMS</span></h1>
            </div>
        </div>
        <div class="logo-right">
            <div class="logo-wrap">
                <h2>Coming Soon</h2>
            </div>
        </div>

    </header>



    <footer>
        <p>&copy; Moritz Media 2018 - 2026</p>
    </footer>

</body>

</html>